.options {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  .checked {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }
  .checkboxWrapper {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check {
    width: 20px;
    height: 20px;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
    .label {
      flex: 1;
      font-size: 14px;
      color: #666666;
    }
  }
  
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .option {
    margin-bottom: 4px;
  }
}