.btnAdd {
  display: flex;
}

.imageWrapper {
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  border: 1px solid #dddddd;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  .image {
    max-width: 100%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
 
}

.file {
  opacity: 0;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
}

.btnDelete {
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 19px;
  bottom: 19px;
  cursor: pointer;
  z-index: 9;
  border-radius: 4px;
  .deleteIcon {
    font-size: 16px;
    color: #ffffff;
    width: 14px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
