.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
.mb40 {
  margin-bottom: 40px;
}
.eye {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.logoWrapper {
  text-align: center;
}
.logo {
  margin-bottom: 20px;
  width: 100px;
}
.actions {
  margin: 24px 0 30px 0;
}
.forgotPassword {
  font-size: 16px;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  text-decoration: underline;
  color: #000000;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.link {
  text-align: center;
  color: #ffffff;
  display: block;
  margin-top: 8px;
  font-size: 14px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  margin-top: 30px;
}

.btnLoginWrapper {
  width: 100%;
}
