.content {
}
.title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 40px;
}
.mb40 {
  margin-bottom: 24px;
}
.form {
}
.logoWrapper {
  text-align: center;
}
.logo {
  margin-bottom: 20px;
  width: 100px;
}
.actions {
  margin-bottom: 30px;
}
.forgotPassword {
  font-size: 16px;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  text-decoration: underline;
  color: #000000;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}
.btnLoginWrapper {
  display: flex;
  justify-content: center;
}

.link {
  text-align: center;
  color: #ffffff;
  display: block;
  margin-top: 8px;
  font-size: 14px;
}