.reason {
  margin-bottom: 0;
  font-size: 13px;
  font-style: italic;
}

.title {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 400px;
}
