.container {
  display: flex;
  align-items: flex-start;
  .inputWrapper {
    flex: 1;
    position: relative;
    margin-right: 10px;
  }
  .btnApply {
    height: 50px;
    background-color: #000000;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border: 0;
    outline: 0;
    margin-bottom: 0;
  }

  .error {
    flex-basis: 100%;
    margin-top: 5px;
    color: rgb(255, 66, 78);
    font-size: 11px;
    font-weight: normal;
    line-height: 1.45;
  }
}