.container {
  height: 20px;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: #3c74ef;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}

.usedContainer {
  background-color: #cba975;
}