.container {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #3fb550;
  border-radius: 6px;
  border: 0;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  min-width: 110px;
  .backIcon {
    width: 16px;
    margin-right: 4px;
  }
}
